@import 'tailwindcss';

/* .font-roboto {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
}

.container-wide {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
} */
